body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.card {
    border-radius: 12px;
}

.navbar-brand {
    font-weight: 600;
    justify-content: center;
}

#example {
    width: 100%;
    height: 400px;
    margin: 20px auto;
}
.ht-theme-main .htCore {
    border: 1px solid #ccc;
    border-radius: 8px;
}

#tableExample {
    width: 100%;
    height: 400px;
    margin: 20px auto;
}